.image-element {
  background: #6c933e;
  padding: 10px;
  position: fixed;
}
.background_image{
    background: url(/images/cover.jpeg);
    height: 60vh;
    background-position: right;
    background-size: cover;

}