.image-element {
  background: $colorVerde;
  padding: 10px;
  position: fixed;
}
.button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 40px;
  a {
    line-height: 0;
  }
}
.hero {
  background: url(/images/cover.jpeg);
  height: 100vh;
  background-position: 87%;
  background-size: cover;
  font-family: $fontRobotoSlab;
  &__container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 120px;
  }
  &__text-container {
    max-width: 200px;
    color: white;
    text-shadow: 2px 2px 15px rgb(78, 78, 78);
    font-size: 16px;
    font-family: $fontRoboto;
    padding-bottom: 25px;
    text-align: center;
  }
  h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    text-shadow: 2px 2px 15px rgb(78, 78, 78);
    padding-bottom: 20px;
  }
}

@media all and (min-width: 768px) {
  .hero {
    &__text-container {
      max-width: 300px;
      font-size: 24px;
    }
    &__container {
      padding-bottom: 20px;
    }
    h1 {
      font-size: 75px;
    }
  }
}

@media all and (min-width: 1280px) {
  .hero {
    &__text-container {
      max-width: unset;
    }
  }
}
