.section-sport {
  padding: 20px 20px;
}
.title {
  color: $colorVerde;
  font-family: $fontRoboto;
  margin-bottom: 10px;
  font-weight: normal;
  &__second {
    font-family: $fontRobotoSlab;
    font-weight: bolder;
    font-size: 22px;
  }
}
.text-sport {
  font-family: $fontRoboto;
  font-size: 18px;
  margin: 5px 0;
}
.selectior-shop {
  background: none;
  margin-top: 30px;
  border-radius: 30px;
  padding: 10px 25px;
  border: 2px solid $colorVerde;
  color: $colorVerde;
  font-size: 20px;
  font-weight: 600;
}
