<footer class="footer-container">
  <button class="button-arrow-new"> <a href="#hero"><img src="/images/ico-arrow.svg" /></a></button>

  <section class="footer-wrapper">
    <div class="footer-wrapper__love">
      <div>&copy;2024</div>
      <div>We <span>&#10084;</span> run</div>
    </div>

    <div class="footer-wrapper__socials" >
        <ul>
            <li> <a href="https://adalab.es">Twitter</a></li>
            <li> <a href="https://adalab.es">Instagram</a></li>
            <li> <a href="https://adalab.es">Youtube</a></li>
        </ul>
    </div>

    <div class="footer-wrapper__products">
        <ul>
            <li> <a href="https://adalab.es">Zapatillas</a></li>
            <li> <a href="https://adalab.es">Ropa</a></li>
            <li> <a href="https://adalab.es">Niño/a</a></li>
            <li> <a href="https://adalab.es">Destacados</a></li>
            <li> <a href="https://adalab.es">Tips</a></li>
        </ul>
    </div>

  </section>
</footer>
