<section id="returnSchool" class="section-grid">
  <div class="title-section">
    <h4 class="title-section__title">¡Prepáralos con tus marcas favoritas!</h4>
    <h1 class="title-section__title_second">VUELTA AL COLE</h1>
  </div>

  <div class="element-grid">
    <div class="element-grid__text">
      <img src="/images/lpbts-mod05-img01-desk.png" />
      <div>Mochilas escolares</div>
    </div>
    <div class="element-grid__text">
      <img src="/images/lpbts-mod05-img04-mob.png" />
      <div>Estuches</div>
    </div>
    <div class="element-grid__text">
      <img src="/images/lpbts-mod05-img03-mob.png" />
      <div>Bolsas de deporte</div>
    </div>
  </div>

  <section class="button-element">
    <button>Empezar ahora</button>
  </section>

</section>
